@font-face {
	font-family: "iconfont";
	src: url("../fonts/iconfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class*="--icon-"]::before {
	content: "";
	font-family: "iconfont";
	line-height: 1 !important;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="--icon-eye"]::before {
	content: "\e900";
}

[class*="--icon-heart"]::before {
	content: "\e902";
}
.--icon-facebook:before {
	content: "\e901";
	color: #4d4d4d;
}

.--icon-heart:before {
	content: "\e902";
}

.--icon-insta:before {
	content: "\e903";
	color: #4d4d4d;
}

.--icon-link:before {
	content: "\e904";
	color: #4d4d4d;
}

.--icon-pinterest:before {
	content: "\e905";
	color: #4d4d4d;
}

.--icon-twitter:before {
	content: "\e906";
	color: #4d4d4d;
}