@use "sass:math";
@use "_reset.scss";
@use "_colors.scss" as *;
@use "_mixins.scss" as *;
@use "_iconfont.scss";

body {
	font-family: "Poppins", sans-serif;
	@include typography();
	color: $grey6;
}

[class*="__container"] {
	max-width: toRem($containerWidth);
	padding-inline: toRem(math.div($containerPadding, 2));
	margin: 0 auto;
}



.page {

	// .page__container

	&__container {}

	// .page__images

	&__images {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}

	// .page__image

	&__image {
		flex: 1 1 200px;
		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}
	}
}



.page {
	@include adaptiveValue("padding-block",100,10);
	background-color: gray;
	padding-block: toRem(100);
	// padding-top: 100px;
	// .page__inner

	&__inner {
		background-color: white;
		display: flex;
		gap: 40px;
		justify-content: space-between;
		align-items: center;
		// padding-block: toRem(50);
		@media (max-width: toEm(840)) {
			flex-direction: column;
		}
	}

	// .page__contant

	&__content {
		// flex: 1 1 50%;
		flex-basis: 50%;
	}


	// .page__title

	&__title {
		
		// font-size: toRem(40);
		color: red;
	}

	.adaptive-text {
		@include adaptiveValue ("font-size", 20, 12, 0, 1320, 320);
	}

	.adaptive-title {
		@include adaptiveValue ("font-size", 45, 18, 0, 1320, 320);
	}

	// .page__text
	
	&__text {}

	// .page__picture

	&__picture {
		// flex: 1 1 50%;
		// flex-basis: 50%;
		// display: flex;
		& img {
			// width: 100%;
			max-width: 400px;
			height: 100%;
			aspect-ratio: 400 / 360;
			object-fit: cover;
		}
	}
}