@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}


[class*="--icon-"] {
	content: "";
	font-family: 'iconfont' !important;
	speak: never;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="--icon-eye"]::before {
	content: "\e900";
}

[class*="--icon-facebook"]::before {
	content: "\e901";
	color: #4d4d4d;
}

[class*="--icon-heart"]::before {
	content: "\e902";
	color: #4d4d4d;
}

[class*="--icon-insta"]::before {
	content: "\e903";
	color: #4d4d4d;
}

[class*="--icon-link"]::before {
	content: "\e904";
	color: #4d4d4d;
}

[class*="--icon-pinterest"]::before {
	content: "\e905";
	color: #4d4d4d;
}

[class*="--icon-twitter"]::before {
	content: "\e906";
	color: #4d4d4d;
}

[class*="--icon-facebook1"]::before {
	content: "\e907";
	color: #4d4d4d;
}

[class*="--icon-hydra"]::before {
	content: "\e908";
}

[class*="--icon-instagram-2"]::before {
	content: "\e909";
}

[class*="--icon-linkedin"]::before {
	content: "\e90a";
}

[class*="--icon-Location-Icon"]::before {
	content: "\e90b";
}

[class*="--icon-logo"]::before {
	content: "\e90c";
}

[class*="--icon-long-arrow"]::before {
	content: "\e90d";
}

[class*="--icon-mail"]::before {
	content: "\e90e";
}

[class*="--icon-phone-call"]::before {
	content: "\e90f";
}

[class*="--icon-pinterest1"]::before {
	content: "\e910";
}

[class*="--icon-twitter1"]::before {
	content: "\e911";
}

[class*="--icon-youtube"]::before {
	content: "\e912";
}


